<div class="container-converter">
    <div>
        <h2 class="title">convert</h2>
    </div>
    <div class="converter padding">
        <div class="content">
            <select #converter (change)="convert($event)" name="covert" id="convert">
                <option *ngFor="let data of select" value="{{data}}">{{data}}</option>
            </select>
            <img src="../assets/img/Icon.svg" alt="Icono convertidor unidades" class="icon-convert">
        </div>
        <div class="content">
            <input type="text" name="cuantity" id="cuantity" [(ngModel)]="cuantity"><label for="convert">{{unity}}</label>
        </div>
    </div>
    <div class="fav-result padding">
        <div class="content">
            <i (click)="bookmark()" class="fa-regular fa-heart"></i>
        </div>
        <div class="content">
            <p class="result">{{result}} {{unityCon}}</p>
        </div>
    </div>
</div>