select {
    color: var(--blanco);
    background-color: var(--morado);
    border: none;
    border-bottom: 2px solid var(--blanco);
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

input {
    color: var(--blanco);
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--blanco);
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.container-converter {
    width: 100%;
}

.converter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fav-result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 13px;
}


.title {
    font-size: 1.5rem;
}

.content {
    width: 100%;
}

.content i {
    cursor: pointer;
}

.icon-convert {
    height: 24px;
}

.converter-content {
    display: flex;
    align-items: center;
}

.result {
    text-align: right;
    margin-right: 20px;
}

.content-princ {
    width: 80%;
}

.content-result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-secun {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 20%;
}

.menu-item-has-children .dropdown-menu-toggle {
    font-size: 20px;
}

@media only screen and (min-width:1200px){
    .converter {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .fav-result {
        margin-right: 0px;
    }

    .content {
        width: 45%;
    }

    .title {
        margin-top: 13px;
        margin-left: 20px;
    }
}