.saved {
    display: flex;
    justify-content: flex-start;
    margin: 40px 0px 15px 0px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.favs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15px;
}

@media only screen and (min-width:1200px){
    .favs {
        width: 48%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .saved {
        width: 50%;
        margin-top: 100px;
    }
}